body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
/* start main */
.main {
    background: #f4f4f4;
    padding: 7px;
    height: 42px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
.main span {
    color: #a2a2a2;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.main span a {
    color: #a2a2a2;
}
.main .border-r {
    border-right: 1px solid #ddd;
    padding-right: 10px;
    margin-right: 10px;
}
.main span .fa-phone{
    transform: rotateY(-180deg);
}
@media (max-width : 1024px) {
    .main {
        height: auto;
    }
    .main .border-r {
        border-right: none;
    }
    .main .col-md-6 p{
        text-align: center;
    }
    .main span a {
        font-size: 10px;
    }
}
/* end main */
/* start nav */
.nav {
    position: fixed;
    display: block;
    width: 100%;
    z-index: 50;
}
.nav ul {
    float: right;
    list-style: none;
    word-spacing: -4px;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a {
    color: #e7512f;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    transition: all .5s ease;
}
.nav ul li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    height: 10px;
    width: 100%;
    transform: translateX(-3px) skewX(-20deg);
    border-left: 1px solid #ddd;
}
.nav ul li a:hover::after {
    background: #c13715;
}
.nav ul li a i {
    color: #a2a2a2;
}
.nav ul li a:hover {
    color: white;
    background: #e7512f;
}
.nav ul li a:hover i {
    color: white;
}
.nav ul li .active {
    color: white;
    background: #e7512f;
}
.nav ul li .active i {
    color: white;
}
.nav ul li .active::after {
    background: #c13715;
}
.nav ul li .border-r {
    border-right: 1px solid #ddd;
}
.nav ul li .fa-search {
    color: #e7512f;
    background: #f4f4f4;
    font-size: 19px;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    transform: translateX(20px);
    transition: all .5s ease ;
}
.nav ul li .fa-search:hover {
    background: #e7512f;
    color: white;
}
.nav .sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #e7512f; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
.nav .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}
.nav .sidenav .fa-search {
    color: #e7512f;
    background: #f4f4f4;
    font-size: 19px;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transform: translateX(20px);
    transition: all .5s ease ;
}
.nav .sidenav .fa-search:hover {
    background: #e7512f;
    color: white;
    border: 1px solid white;
}
.nav .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.nav .toggle-button {
    cursor: pointer;
    visibility: hidden;
}
.nav .menu-button {
    width: 35px;
    height: 5px;
    background-color: #e7512f;
    margin: 6px 0;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
@media(max-width : 1200px) {
    .nav {
        height: 73px;
    }
    .nav img {
        width: 200px;
        height: 60px;
    }
    .nav .toggle-button {
        float: right;
        visibility: visible;
        transform: translate(-25px, 16px);
    }
    .nav ul {
        display: none;
    }
}
/* end nav */
/* start skew line */
.skew-line {
    transform: translateY(74px);
    width: 100%;
    height: 10px;
    background: #f4f4f4;
}
/* end skew line */
/* start header */
.header {
    transform: translateY(74px);
}
.header .parent {
    padding: 0px;
}
.header .carousel-control-next-icon {
    color: #333;
    background-color: white ;
    transform: skewX(-20deg) translateX(20px) ;
    padding: 30px ;
    height: 65px;
    background-image: none ;
}
.header .carousel-control-next-icon .fa-angle-right {
    font-size: 27px;
    transform: translate(-5px, -12px);
}
.header .carousel-control-prev-icon {
    color: #333;
    background-color: white ;
    transform: skewX(20deg) translateX(-20px);
    padding: 30px ;
    height: 65px;
    background-image: none ;
}
.header .carousel-control-prev-icon .fa-angle-left {
    font-size: 25px;
    transform: translate(-7px, -12px);
}
.header .carousel-control-next-icon:hover, .header .carousel-control-prev-icon:hover {
    color: white;
    background: #e7512f;
}
@media(max-width : 900px) {
    .header .carousel-control-next-icon {
        transform: translateX(0px) skewX(-20deg);
        padding: 15px;
        height: 30px;
    }
    .header .carousel-control-next-icon .fa-angle-right {
        font-size: 20px;
        transform: translate(-4px, -7px);
    }
    .header .carousel-control-prev-icon {
        transform: skewX(20deg) translateX(0px);
        padding: 15px ;
        height: 30px;
    }
    .header .carousel-control-prev-icon .fa-angle-left {
        font-size: 20px;
        transform: translate(-7px, -8px);
    }
}
/* end header */